clients/src/ifmo/lab3/service/CountriesWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab3.ifmo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab3.ifmo/" name="CountriesWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab3.ifmo/" schemaLocation="http://localhost:8080/CountriesWebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addCountry">
<part name="parameters" element="tns:addCountry"></part>
</message>
<message name="addCountryResponse">
<part name="parameters" element="tns:addCountryResponse"></part>
</message>
<message name="SecurityException">
<part name="fault" element="tns:SecurityException"></part>
</message>
<message name="IllegalArgumentException">
<part name="fault" element="tns:IllegalArgumentException"></part>
</message>
<message name="SqlException">
<part name="fault" element="tns:SqlException"></part>
</message>
<message name="updateCountry">
<part name="parameters" element="tns:updateCountry"></part>
</message>
<message name="updateCountryResponse">
<part name="parameters" element="tns:updateCountryResponse"></part>
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"></part>
</message>
<message name="deleteCountry">
<part name="parameters" element="tns:deleteCountry"></part>
</message>
<message name="deleteCountryResponse">
<part name="parameters" element="tns:deleteCountryResponse"></part>
</message>
<message name="getCountries">
<part name="parameters" element="tns:getCountries"></part>
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse"></part>
</message>
<message name="getCountry">
<part name="parameters" element="tns:getCountry"></part>
</message>
<message name="getCountryResponse">
<part name="parameters" element="tns:getCountryResponse"></part>
</message>
<portType name="CountriesErrorHandlingService">
<operation name="addCountry">
<input wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/addCountryRequest" message="tns:addCountry"></input>
<output wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/addCountryResponse" message="tns:addCountryResponse"></output>
<fault message="tns:SecurityException" name="SecurityException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/addCountry/Fault/SecurityException"></fault>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/addCountry/Fault/IllegalArgumentException"></fault>
<fault message="tns:SqlException" name="SqlException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/addCountry/Fault/SqlException"></fault>
</operation>
<operation name="updateCountry">
<input wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/updateCountryRequest" message="tns:updateCountry"></input>
<output wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/updateCountryResponse" message="tns:updateCountryResponse"></output>
<fault message="tns:SecurityException" name="SecurityException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/updateCountry/Fault/SecurityException"></fault>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/updateCountry/Fault/IllegalArgumentException"></fault>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/updateCountry/Fault/NotFoundException"></fault>
</operation>
<operation name="deleteCountry">
<input wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/deleteCountryRequest" message="tns:deleteCountry"></input>
<output wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/deleteCountryResponse" message="tns:deleteCountryResponse"></output>
<fault message="tns:SecurityException" name="SecurityException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/deleteCountry/Fault/SecurityException"></fault>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/deleteCountry/Fault/IllegalArgumentException"></fault>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/deleteCountry/Fault/NotFoundException"></fault>
</operation>
<operation name="getCountries">
<input wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountriesRequest" message="tns:getCountries"></input>
<output wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountriesResponse" message="tns:getCountriesResponse"></output>
</operation>
<operation name="getCountry">
<input wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountryRequest" message="tns:getCountry"></input>
<output wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountryResponse" message="tns:getCountryResponse"></output>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountry/Fault/IllegalArgumentException"></fault>
<fault message="tns:NotFoundException" name="NotFoundException" wsam:Action="http://lab3.ifmo/CountriesErrorHandlingService/getCountry/Fault/NotFoundException"></fault>
</operation>
</portType>
<binding name="CountriesErrorHandlingServicePortBinding" type="tns:CountriesErrorHandlingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SecurityException">
<soap:fault name="SecurityException" use="literal"></soap:fault>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="SqlException">
<soap:fault name="SqlException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SecurityException">
<soap:fault name="SecurityException" use="literal"></soap:fault>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SecurityException">
<soap:fault name="SecurityException" use="literal"></soap:fault>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCountries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CountriesWebService">
<port name="CountriesErrorHandlingServicePort" binding="tns:CountriesErrorHandlingServicePortBinding">
<soap:address location="http://localhost:8080/CountriesWebService"></soap:address>
</port>
</service>
</definitions>