clients/src/ifmo/lab2/service/CountriesWebServiceCrud.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab2.ifmo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab2.ifmo/" name="CountriesWebServiceCrud">
<types>
<xsd:schema>
<xsd:import namespace="http://lab2.ifmo/" schemaLocation="http://localhost:8080/CountriesWebServiceCrud?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addCountry">
<part name="parameters" element="tns:addCountry"></part>
</message>
<message name="addCountryResponse">
<part name="parameters" element="tns:addCountryResponse"></part>
</message>
<message name="updateCountry">
<part name="parameters" element="tns:updateCountry"></part>
</message>
<message name="updateCountryResponse">
<part name="parameters" element="tns:updateCountryResponse"></part>
</message>
<message name="deleteCountry">
<part name="parameters" element="tns:deleteCountry"></part>
</message>
<message name="deleteCountryResponse">
<part name="parameters" element="tns:deleteCountryResponse"></part>
</message>
<message name="getCountries">
<part name="parameters" element="tns:getCountries"></part>
</message>
<message name="getCountriesResponse">
<part name="parameters" element="tns:getCountriesResponse"></part>
</message>
<message name="getCountry">
<part name="parameters" element="tns:getCountry"></part>
</message>
<message name="getCountryResponse">
<part name="parameters" element="tns:getCountryResponse"></part>
</message>
<portType name="CountriesWebServiceCrud">
<operation name="addCountry">
<input wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/addCountryRequest" message="tns:addCountry"></input>
<output wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/addCountryResponse" message="tns:addCountryResponse"></output>
</operation>
<operation name="updateCountry">
<input wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/updateCountryRequest" message="tns:updateCountry"></input>
<output wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/updateCountryResponse" message="tns:updateCountryResponse"></output>
</operation>
<operation name="deleteCountry">
<input wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/deleteCountryRequest" message="tns:deleteCountry"></input>
<output wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/deleteCountryResponse" message="tns:deleteCountryResponse"></output>
</operation>
<operation name="getCountries">
<input wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/getCountriesRequest" message="tns:getCountries"></input>
<output wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/getCountriesResponse" message="tns:getCountriesResponse"></output>
</operation>
<operation name="getCountry">
<input wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/getCountryRequest" message="tns:getCountry"></input>
<output wsam:Action="http://lab2.ifmo/CountriesWebServiceCrud/getCountryResponse" message="tns:getCountryResponse"></output>
</operation>
</portType>
<binding name="CountriesWebServiceCrudPortBinding" type="tns:CountriesWebServiceCrud">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCountries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CountriesWebServiceCrud">
<port name="CountriesWebServiceCrudPort" binding="tns:CountriesWebServiceCrudPortBinding">
<soap:address location="http://localhost:8080/CountriesWebServiceCrud"></soap:address>
</port>
</service>
</definitions>